body
{
    background-color: rgb(181, 234, 243);
}
.orderbody
{
    padding-bottom: 2%;
    padding-top: 2%;
}
.card
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    padding-bottom: 2%;
}
.form input
{
    height: 80%;
    width: 50%;
}
.form label{
    font-weight:400;
    font-size:larger;
}
.orderbody img{
    width: 100%;
    margin-top: 2%;
    height: 100%;
}
.form span{
    font-weight: 400;
}
.form button{ 
    margin-top: 2%;
    border-radius: 0.5rem;
    padding: 13px;
    color: white;
    background-color: black;
}
.orderbody hr{
    width: 50%;
}
