.c{
    max-width: 100%;
    max-height:300px;
    width: auto;
    height: auto;
  }
.c4{
    background-color:rgb(250, 187, 132);   
}
.c3{
    background-color:rgb(221, 217, 217);   
}
.f{
    background-color:rgb(221, 217, 217);    
}