.links a{
    text-decoration: none;
    color: white;
    padding-left: 6vh;
    font-weight: bolder;
}
.links{
    padding-right: 10rem;
}
.navbar{
    background-color:rgb(47, 88, 117);
    border: 1px solid black;
}
.links i{
    color: white;
}